@font-face {
	font-family: "Public Sans";
	font-display: optional;
	src: url("../fonts/Public_Sans/static/PublicSans-Medium.ttf") format("ttf");
	font-weight: 400;
	font-style: normal;
}

textarea::-webkit-input-placeholder {
    color: #0bf;
  }
  
  textarea:-moz-placeholder { /* Firefox 18- */
    color: #0bf;  
  }

  
  textarea::-moz-placeholder {  /* Firefox 19+ */
    color: #0bf;  
  }

  textarea:-ms-input-placeholder {
    color: #0bf;  
  }
  
  textarea::placeholder {
    color: #13597A !important;
    box-shadow: none !important;
  }

  .textarea-feedback {
      background-color: #DADADA;
      border: none;
      border-radius: 0;
    }
    
.textarea-feedback:focus {
    background-color: #DADADA;
    border: none;
    box-shadow: none;
    color: #13597A;

  }

* {
    font-family: 'Public Sans', sans-serif;
}
body {
    background-color: #F1EDE4;
}

.feedback-section {
    color:#13597A;
}



.bill-btn-primary {
    background-color:#781A36!important;
    border-color: #2D4059!important;
    border-radius: 10px;

}

.btn-shadow {
    box-shadow: 7px 6px 11px 0px rgba(194,194,194,1);
}

.tab-content {
    background-color: #2D4059 !important;
    border-radius: 0px 15px 15px 15px !important;
    color: white;
}

.pre-wrapper pre {
  white-space: pre-wrap;
  word-break: keep-all;
  font-size: 16px;
  font-family: 'Public Sans', sans-serif;
}

.section-container {
    background-color: #2D4059;
    border-radius: 10px;
}

div.dataTables_scrollHead table {
    border-radius: 10px 10px 0 0 ;
}

div.dataTables_scrollBody {
    border-radius: 0px 0px 10px 10px !important;
}
.table {
    font-size: small;
    width: 100% !important;
    background-color: #ffffff;
}

.table thead>tr>th {
    width: auto;
    border: none !important;
}

.empty_table {
    border-top: none; 
    text-align: center;
}

.pagination button {
    border-radius: 50% !important;
    width: 40px !important;
    height: 40px !important;
}

.dataTables_paginate a {
    border-radius: 100% !important;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    border-color: #ffffff !important;
    text-align: center;
    font-size: small;
}

.dataTables_info {
    font-size: small;
    font-weight: bold;
    color: black;
}

#cosponsors-table-top_info {
    color: #212529;
}

.dataTables_filter {
    font-size: small;
}
div.dataTables_wrapper div.dataTables_filter input {
    border-radius: 10px;
    border-color: #000000;
    
}

.dark-blue-navbar {
    background-color: #2D4059;
    height: 120px;
}
.dark-blue-footer {
    background-color: #2D4059;
}

.link {
    color: white;
    font-weight: lighter;
    margin-right: 20px;
}
.link:hover {
    color: white;
}

.wrap {
    background-color: #2D4059;
    border-radius: 10px;
}

.wrap .accordion.card {
    border-radius: 10px;
    background-color: #2D4059;
    border:none;
}

.wrap .accordion.card .btn-link {
    color: white;
}

.wrap .accordion.card .accordion-body.card-body {
    background-color: white;
    border:none;
}

.fc-scrollgrid {
    background-color: white;
    border-radius: 10px;
    padding: 10px 30px 10px 30px;
}

.fc-button {
    background-color: white !important;
    color: black !important;
}

.fc-toolbar-title {
    color: white;
}

#calendar-key {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    ;
}

.fc-button:hover {
    background-color: rgb(219, 219, 219) !important;
}

div.dataTables_wrapper div.dataTables_scroll {
    border-radius: 10px;
}

.dropdown-toggle {
    padding: 2px;
    border-radius: 10px;
    width: 160px;
    border-color: #000000;
    color: black;
}

.dropdown-toggle::after {
    right: 0 !important;
}

.dataTables_length {
    font-size: small;
}

.light-gray-body {
    background-color: #f7f7f7;
    border-radius: 10px;
}

.light-gray-tabs {
    background-color: #f7f7f7;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 3px 4px 4px #d4d4d4;
}

.navbar-link {
    color: white !important;
    padding: 0px 15px 5px 15px;
    margin: 0px 10px 0px 10px;
    text-decoration: none !important;
    
}
.light-gray-nav-link .active {
    color: #495057;
    background-color: #d4d4d4;
    border-color: noner;
}

.navbar-link.active {
    border-bottom: 5px solid white;
}

.nav-link.active {
    background-color: #2D4059 !important;
    border-color: #2D4059 !important;
    color: white !important;
}

.nav-tabs {
    border-bottom: #f7f7f7 !important;
}
.nav-tabs  .active {
    border-radius: 40px 40px 0 0 !important;
}

.dark-gray-body {
    background-color: 1px solid #d4d4d4 !important;
}

#bill-search .tt-menu {
    max-height: 150px;
    overflow-y: auto;
}

#or-div{
    margin-top: 20px;
    margin-bottom: 20px;
}

.typeahead {
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    outline: none;
}

span.twitter-typeahead .tt-menu,
span.twitter-typeahead .tt-dropdown-menu {
    cursor: pointer;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

span.twitter-typeahead .tt-suggestion {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
}

span.twitter-typeahead .tt-suggestion.tt-cursor,
span.twitter-typeahead .tt-suggestion:hover,
span.twitter-typeahead .tt-suggestion:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #337ab7;
}

.input-group.input-group-lg span.twitter-typeahead .form-control {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.input-group.input-group-sm span.twitter-typeahead .form-control {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.input-group span.twitter-typeahead {
    display: block !important;
    height: 34px;
}

.input-group span.twitter-typeahead .tt-menu,
.input-group span.twitter-typeahead .tt-dropdown-menu {
    top: 32px !important;
}

.input-group span.twitter-typeahead:not(:first-child):not(:last-child) .form-control {
    border-radius: 0;
}

.input-group span.twitter-typeahead:first-child .form-control {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group span.twitter-typeahead:last-child .form-control {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.input-group.input-group-sm span.twitter-typeahead {
    height: 30px;
}

.input-group.input-group-sm span.twitter-typeahead .tt-menu,
.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
    top: 30px !important;
}

.input-group.input-group-lg span.twitter-typeahead {
    height: 46px;
}

.input-group.input-group-lg span.twitter-typeahead .tt-menu,
.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
    top: 46px !important;
}

.twitter-typeahead {
    width: 100%;
}

#bill-search {
    padding-right: 40px;
    border:1px solid var(--select-border);
    border-radius: 8px;
}

.bill-tooltip {
    display: none;
    background-color:gray;
    max-width: 600px;
    min-width: 300px;
    position: absolute;
    top: 30px;
    right: 0px;
    z-index: 1000;
    color: black;
    border-radius: 3px;
    padding: 5px;
    text-decoration: none;
    
}

.toolt {
    position: relative;
    display: inline-block;
    cursor: default;
  }
  
  /* Tooltip text */
  /* See https://www.w3schools.com/css/css_tooltip.asp */
  .toolt .tooltiptext {
    font-size: 14px;
    visibility: hidden;
    width: 500px;
    background-color: rgb(165, 165, 165);
    color: black;
    text-align: center;
    padding: 3px;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .toolt:hover .tooltiptext {
    visibility: visible;
    top: 30px;
  }


#search-icon {
    position: absolute;
    right: 20px;
    top: 10px;
    color: black;
}

@media only screen and (min-width: 768px) {

}

label {
    display: inline-block;
}

label textarea{
    vertical-align: middle;
}

footerr {
    color: white;
    background: rgb(120, 26, 54);
    padding: 100px;
    text-align: center;
    grid-area: footer;
}

.bill {
    width: 100%;
    border-radius: 10px;
    margin-right: 1%;
}

.committee-jurisdiction {
    width: 100%;
    border-radius: 10px;
}

.sponsors-buttons {
    margin-top: 100px;
}

.horizontal-form-divider {
    border-bottom: 1px solid lightgray;
    margin-bottom: 20px;
}

.spacer {
    width: 43%;
}

.left-understanding-context-body {
    width: 50%;
    margin-right: 3%;
}

/* Circle */
.circle{
    background: #9d2146;
    width: 2.5em;
    height: 6em;
    line-height: 6em;
    border-radius: 100%;
    text-align: center;
}

.circle.single {
    background: #d4d4d4!important;
    height: 2.5em!important;
}

.circle.muted {
    background: #d4d4d4!important;
}

.dotted-line {
    border-right: 1px dotted #9d2146;
    height: 100%;
    width: 1px;
    transform: scale(1, 1.6);
    transform-origin: 50% -4%;
    width: 0;
    padding-right: 47%;
  }

.dotted-line.muted {
    border-right: 1px dotted #d4d4d4!important;
}

.down-arrow {
    color: #9d2146;
    padding-left: 14.5px;
}

.down-arrow.muted{
    color: #d4d4d4!important;
}

.timeline-spacer {
    padding: 0 60px 0 0px;
}

.timeline-date {
    min-width: 60px;
}

tbody td img {
    max-width: 20px;
}

tbody td img:hover {
    max-width: 23px;
    box-shadow: 7px 6px 11px 0px rgba(194,194,194,1);
}

.calendar-filters label {
    color: white;
}

.calendar-filters select {
    background-color: white;
    padding: 5px;
}

.session-indicator {
    color: red;
}

.event-source-color-key {
    min-width: 200px;
    text-align: center;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.event-us-holiday *{
    background-color: #dcd0ff;
    color: black;
    border: none;
}
.event-text {
    max-height: 35px;
    min-height: 35px;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
}

.event-opm {
    background-color: lightgray;
    color: darkblue;
}

.event-senate-floor {
    background-color: red;
    color: white;
}

.event-senate-committee {
    color: white;
    background-color: darkred;
}

.event-house-committee {
    background-color: orange;
}

.event-house-majority-leader, .event-house-majority-leader * {
    background-color: yellow;
    color: darkblue;
}

.advanced-search-toggle {
    display: block;
}

.calendar-key-header {
    text-align: left;
    display: block;
    width: 100%;
}

.calendar-key-header.btn-link:active, .calendar-key-header.btn-link:focus, .calendar-key-header.btn-link:hover {
    text-decoration: none;
    box-shadow: none;
}

.fc-event {
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .horizontal-form-divider {
        border-right: 1px solid lightgray;
        border-bottom: none;
        margin-bottom: 0;
        padding-right: 75px;
    }

    .timeline-date {
        min-width: 120px;
    }

    .timeline-spacer {
        padding-right: 120px;
    }
}

.dt-buttons {
    margin-top: 20px;
}
