{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="title">
    <hr />
    <span>Home > Bills > Compare > {{bill.bill_congress_type_number |billnumber_display}} / {{second_bill.bill_congress_type_number |billnumber_display}}</span>
    <h1>
        Similarity between {{ bill.bill_congress_type_number|billnumber_display }} and {{ second_bill.bill_congress_type_number|billnumber_display }}
    </h1>
    <span class="small">{{ bill.congress|numstring_to_ordinal }} Congress ({{bill.congress|congress_to_year}} - {{bill.congress|congress_to_year|add:"1"}}) / {{ second_bill.congress|numstring_to_ordinal }} Congress ({{second_bill.congress|congress_to_year}} - {{secondbill.congress|congress_to_year|add:"1"}})</span>
    <hr />
</div>
<div class="mt-4">
    <h4>Titles</h4>
    <span class="small">
        {{ bill.bill_congress_type_number|billnumber_display }} / {{ second_bill.bill_congress_type_number|billnumber_display }}: 
    </span>
    <div class="tab-content light-gray-tabs p-4">
        <div class="tab-pane fade show active" id="current" role="tabpanel" aria-labelledby="current-tab">
            <table class="table mt-3">
                <thead>
                    <tr>
                        <th scope="col">Bill</th>
                        <th scope="col">Titles</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="{% url 'bill-detail' slug=bill.bill_congress_type_number  %}">
                                {{ bill.bill_congress_type_number }}
                            </a>
                        <td><span title="{{ bill.titles }}">{{ bill.short_title }}</span></td>
                    </tr>
                    <tr>
                        <td>
                            <a href="{% url 'bill-detail' slug=second_bill.bill_congress_type_number  %}">
                                {{ second_bill.bill_congress_type_number }}
                            </a>
                        <td><span title="{{ second_bill.titles }}">{{ second_bill.short_title }}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="mt-4">
    <h4>Sections Matched</h4>
    <span class="small">
        Discover sections matched between {{ bill.bill_congress_type_number }} and {{ second_bill.bill_congress_type_number }}
    </span>
    <div class="tab-content light-gray-tabs p-4">
        {% if bill_to_bill|length == 10 %}
            <p><span><strong>Top 10 matched sections :</strong></span></p>
        {% else %}
            <p><span><strong>Sections matched ({{ bill_to_bill|length }}) :</strong></span></p>
        {% endif %}
        <div class="tab-pane fade show active" id="current" role="tabpanel" aria-labelledby="current-tab">
            <table class="table mt-3">
                <thead>
                    <tr class="d-flex">
                        <th class="col-2">Score</th>
                        <th class="col-5">Section match from {{ bill.bill_congress_type_number }}</th>
                        <th class="col-5">Section match from {{ second_bill.bill_congress_type_number }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bill in bill_to_bill %}
                    <tr class="d-flex">
                        <td class="col-2">{% if bill.score %}{{ bill.score|floatformat:2 }}{% endif %}</td>
                        <td class="col-5"><span>{{ bill.target_section_number }}&nbsp;{{ bill.target_section_header }}</span></td>
                        <td class="col-5"><span>{{ bill.section_num }}&nbsp;{{ bill.section_header }}</span></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/bill.js' %}"></script>
<script>
    var table = new Tabulator("#committee-jurisdiction-table", {
        // rowFormatter:function(row){
    });
</script>
{% endblock %}