{% extends 'base.html' %}
{% load bill_filters %}
{% load static %}
{% load bill_tags %}

{% block extra_css %}
<link href="https://unpkg.com/tabulator-tables@4.8.0/dist/css/bootstrap/tabulator_bootstrap4.min.css" rel="stylesheet">
<style>
    html { scroll-behavior: smooth; } 
</style>
<!-- <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.8.0/dist/js/tabulator.min.js"></script> -->
{% endblock %}
{% block content %}
<div class="row d-flex justify-content-center">
    <div class="col-md-10">

        
        <div class="title">
            <hr />
            <span>Home > Bills > {{bill.bill_congress_type_number |billnumber_display}}</span>
            {% if bill.number and bill.number != 'None'%}
            <h1>
                {{ bill.type_abbrev }} {{ bill.number }}: {{ bill.title }}
            </h1>
            {% endif %}
            {% if bill.congress and bill.congress != 'None'%}
            <span class="small">{{ bill.congress|numstring_to_ordinal }} Congress ({{bill.congress|congress_to_year}} - {{bill.congress|congress_to_year|add:"1"}})</span>
            {% endif %}
            <hr />
        </div>
        
        <div>
            <div class="row">
                <div class="col-md-6 p-2">
                    <div class="py-4 px-3 section-container h-100">
        
                        <div class="bill light-gray-body p-4 h-100 d-flex justify-content-center">
                            <div style="margin-bottom: 80px">
                                <h4 class="pb-2 text-center"><b>Overview</b></h4>
                                <h5><b>Bill Summary:</b></h5>
                                {% if bill.summary_short %}
                                <div class="pre-wrapper" style="font-size: 16px;"><pre>{{bill.summary_short}}</pre></div>
                                
                                    
                                {% else %}
                                <div class="pre-wrapper" style="font-size: 16px;"><pre>{{ bill.summary |truncatewords_html:100 }}</pre></div>
                                {% endif %}
                                <!--
                                <h5><b>Bill Stage:</b></h5>
                                <p>Bill Stage will appear here</p> -->

                                <!--

                                -->
                                    
                                    {% if bill.get_related_bill_numbers %}
                                    <h5><b>Related Bills:</b></h5>
                                    
                                    {% for rel_bill in bill.get_related_bill_numbers|billnumbers_by_congress:bill.congress|billnumbers_display %}
                                    <a class="toolt" ><div class="tooltiptext" id="tool">...</div><span id="rel-bill">{{rel_bill}}</span></a>{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                    
                                    {% if identical_bill_numbers %}
                                    <h5 class="mt-3"><b>Identical or nearly identical Bills:</b></h5>
                                    
                                    {% for identical_bill in identical_bill_numbers|billnumbers_display %}
                                    <a class="toolt" ><div class="tooltiptext" id="tool">...</div><span style="font-size: 14px;" id="identical-bill">{{identical_bill}}</span></a>{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                    
                                    
                                    <h5 class="mt-3"><b>Recent Actions (in focus):</b></h5>
                                    <p >No info available</p>
                                <h5><b>Prognosis:</b></h5>
                                <p >Prognosis will appear here</p>
                            </div>
                            <div class="text-center mt-5"
                            style=" position: absolute; bottom: 70px;margin: auto; margin-top: 50px">
                                <a 
                                href="https://www.govtrack.us/congress/bills/{{bill.congress}}/{{bill.type}}{{bill.number}}/text"
                                class="btn btn-primary btn-lg btn-shadow text-center mt-3 rounded-5 px-3" 
                                style="border: none; border-radius: 10px; background-color: #2D4059; min-width: 350px">
                                    Read the bill
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="col-md-6 p-2">
                    <div class=" py-4 px-3 section-container h-100">
                        <div class="committee-jurisdiction light-gray-body p-4 h-100 d-flex justify-content-center">
                            <div>
                                
                                <h4 class="text-center"><b>Committees and Sponsors</b></h4>
                                <br>
                                <div class="d-flex justify-content-between">
                                    <div class="">
                                        <h5 class="pr-3"><b>Committees of Jurisdiction:</b></h5>
                                        {% for committeeItem in committees_dict_deduped %}
                                        <a href="#" class="link-secondary" >{{committeeItem.committee}}</a>{% if not forloop.last %}<span class="mr-0">, </span>  {% endif %}
                                        {% endfor %}
                                   </div>
                                </div>
                                <div class="mt-5" style="margin-bottom: 80px">
                                    <table class="table mt-3" id="cosponsors-table-top">
                                        <thead>
                                            <tr>
                                                <th scope="col">Co-sponsor</th>
                                                <th scope="col">Current Assigned Committees</th>
                                                <th scope="col">Party</th>
                                                <th scope="col">Rank</th>
                                                <th scope="col">Currently in Congress</th>
                                            </tr>
                                        </thead>
                                        <tbody> {% for cosponsor in cosponsors_dict|slice:":5" %}
                                           
                                            <tr>
                                                 {% if cosponsor.name_full_official %}
                                                <td>{{ cosponsor.name_full_official }} {% if cosponsor.original_cosponsor %}<sup>*</sup>{% endif %}{% if cosponsor.sponsor %}<sup>&dagger;</sup>{% endif %}</td>
                                                {% else %}
                                                <!--td>{{ cosponsor.title }}. {{ cosponsor.name|cosponsor_name_display }} {% if cosponsor.original_cosponsor %}<sup>*</sup>{% endif %}{% if cosponsor.sponsor %}<sup>&dagger;</sup>{% endif %}</td-->
                                                <td>{{ cosponsor.name|cosponsor_name_display }} {% if cosponsor.original_cosponsor %}<sup>*</sup>{% endif %}{% if cosponsor.sponsor %}<sup>&dagger;</sup>{% endif %}</td>
                                                {% endif %}
                                                <td>{{ cosponsor.committee_name }}</td>
                                                <td>{{ cosponsor.party|slice:":1" }}</td>
                                                <td>{{ cosponsor.rank }}</td>
                                                <td>
                                                    {% if cosponsor.current %}
                                                        Yes 
                                                {% else %}
                                                    No
                                                {% endif %}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <div><sup>+</sup>&nbsp; Sponsor</div>
                                    <div><sup>*</sup>&nbsp; Original Cosponsor</div>
                                </div>
                            </div>
                            <div class="text-center mt-5"
                            style=" position: absolute; bottom: 70px;margin: auto; margin-top: 50px">
                                <a
                                href="#cosponsors-tab"
                                class="btn btn-primary btn-lg btn-shadow text-center rounded-5" 
                                style="border: none; border-radius: 10px; background-color: #2D4059; min-width: 350px;">
                                    View full list of sponsors
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <hr>
        <div class="d-flex flex-wrap mt-3" style="">
            <div class=" w-100 light-gray-body p-2 mb-2">
            <div class="row px-3 py-4 section-container" style="border-radius: 10px;">
                <div class="col-md-8" style="background-color: white; border-radius: 10px;">
                    <h4><b>Support Bill Track</b></h4>
                    <p>Bill Track is a free and open, hosted by the Wikimedia Foundation. The heart and soul of
                        Wikipedia is our global community of over  200.000+ volunteer contributors. 
                        Bill Track is a free and open, hosted by the Wikimedia Foundation. The heart and soul of
                        Wikipedia is our global community of over  200.000+ volunteer contributors.
                    </p>
                    <div class="text-center">
                        <button 
                        type="button" 
                        class="btn btn-primary btn-lg btn-shadow text-center mt-3 rounded-5" 
                        style="border: none; border-radius: 10px; padding-left:55px; padding-right:55px; background-color: #2D4059">
                            Donate Now
                        </button>
                    </div>
                </div>
        
                <div class="col-md-4 pl-3; mr-0 pr-0">
                    <div class="ml-3" style="background-color: white" >
                        <img src="" alt="Advertising" style="min-height: 250px;">
                    </div>
                </div>
            </div>
            </div>
        
        </div>
        <hr>
        <div class="related-bills mt-4">
            <h4>Bills Related to {{ bill.type_abbrev }} {{ bill.number }}</h4>
            <span class="small">
                Bills related to <i>{{ bill.type_abbrev }} {{ bill.number }}: {{ bill.short_title }}</i>. A related bill may be a companion measure, an identical bill, a procedurally-related measure, or one with text similarities.
            </span>
            <ul class="nav nav-tabs mt-2" id="tablistRelated" role="tablist">
                <li class="nav-item" role="presentation">
                <a class="nav-link active" id="current-congress-tab" data-toggle="tab" href="#current-congress" role="tab"
                    aria-controls="current" aria-selected="true">Current Congress</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="all-congress-tab" data-toggle="tab" href="#all-congress" role="tab"
                        aria-controls="all" aria-selected="false">All Congresses</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="similar-sections-tab" data-toggle="tab" href="#similar-sections" role="tab"
                        aria-controls="similar" aria-selected="false">Similar Sections</a>
                </li>
            </ul>
            <div class="tab-content light-gray-tabs p-4" id="relatedBillsTableContent">
        
                <div class="tab-pane fade show active" id="current-congress" role="tabpanel" aria-labelledby="current-congress-tab">
                   <h6 class="pt-3">
                        View bills related to {{ bill.type_abbrev }} {{ bill.number }} in the same Congress
                   </h6>
                    <table class="table mt-3" id="current-similar-bills-table">
                        <thead>
                            <tr>
                                <th scope="col">Bill</th>
                                <th scope="col">Titles</th>
                                <th scope="col">Reason</th>
                                <th scope="col">Detail</th>
                                <th scope="col">Score</th>
                                <th scope="col">Sections matched</th>
                                <th scope="col">Best match section</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for bill in similar_bills %}
                                {% check_bill bill.bill_congress_type_number object.congress as checker %}
                                {% if checker %}
                                <tr>
                                    <td>
                                        {% if bill.in_db %}
                                            <a href="{% url 'bill-detail' slug=bill.bill_congress_type_number  %}">
                                        {{ bill.bill_congress_type_number|billnumber_display }}
                                            </a>
                                        {% else %}
                                            {{ bill.bill_congress_type_number|billnumber_display }}
                                        {% endif %}
                                    </td>
                                    {% if bill.max_item %}
                                        <td><span title="{{ bill.max_item.title }}">{{ bill.max_item.title|truncatechars:40 }}</span></td>
                                    {% else %}
                                        <td><span title="{{ bill.title }}">{{ bill.title|truncatechars:40 }}</span></td>
                                    {% endif %}
                                    <td>{{ bill.reason }}</td>
                                    <td>
                                        {% if bill.in_db %}
                                            <a href="{% url 'bill-to-bill' slug=object.bill_congress_type_number second_bill=bill.bill_congress_type_number %}">
                                                <img src="{% static 'images/share-files.png' %}" alt="">
                                            </a>
                                        {% else %}
                                            N/A
                                        {% endif %}
                                    </td>
                                    <td>{% if bill.score %}{{ bill.score|normalize_score:current_bill_score }}{% endif %}</td>
                                    <td>{{ bill.number_of_sections }}</td>
                                    <td>{% if bill.max_item.section_num %}<span>{{ bill.max_item.section_num }}</span> {% endif %}<span title="{{ bill.max_item.section_header }}">{{ bill.max_item.section_header|truncatechars:40 }}</span></td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="all-congress" role="tabpanel" aria-labelledby="all-congress-tab">
                   <h6 class="pt-3">
                        View bills related to {{ bill.type_abbrev }} {{ bill.number }} in recent Congresses
                    </h6>
                    <table class="table mt-3" id="similar-bills-table">
                        <thead>
                            <tr>
                                <th scope="col">Bill</th>
                                <th scope="col">Detail</th>
                                <th scope="col">Reason</th>
                                <th scope="col">Titles</th>
                                <th scope="col">Score</th>
                                <th scope="col">Sections matched</th>
                                <th scope="col">Best match section</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for bill in similar_bills %}
                                <tr>
                                    <td>
                                        {% if bill.in_db %}
                                            <a href="{% url 'bill-detail' slug=bill.bill_congress_type_number  %}">
                                        {{ bill.bill_congress_type_number |billnumber_display }}
                                            </a>
                                        {% else %}
                                            {{ bill.bill_congress_type_number|billnumber_display }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if bill.in_db %}
                                            <a href="{% url 'bill-to-bill' slug=object.bill_congress_type_number second_bill=bill.bill_congress_type_number %}">
                                                <img src="{% static 'images/share-files.png' %}" alt="">
                                            </a>
                                        {% else %}
                                            N/A
                                        {% endif %}
                                    </td>
                                    <td>{{ bill.reason }}</td>
                                    {% if bill.max_item %}
                                        <td><span title="{{ bill.max_item.title }}">{{ bill.max_item.title|truncatechars:40 }}</span></td>
                                    {% else %}
                                        <td><span title="{{ bill.title }}">{{ bill.title|truncatechars:40 }}</span></td>
                                    {% endif %}
                                    <td>{% if bill.score %}{{ bill.score|normalize_score:current_bill_score }}{% endif %}</td>
                                    <td>{{ bill.number_of_sections }}</td>
                                    <td>{% if bill.max_item.section_num %}<span>{{ bill.max_item.section_num }}</span> {% endif %}<span title="{{ bill.max_item.section_header }}">{{ bill.max_item.section_header|truncatechars:40 }}</span></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade " id="similar-sections" role="tabpanel" aria-labelledby="similar-sections-tab">
                   <h6 class="pt-3">
                        View bills with related sections
                   </h6>
                    <table class="table mt-3" id="similar-sections-table">
                        <thead>
                            <tr>
                                <th scope="col">Section</th>
                                <th scope="col">Similar Bills</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for section in bill.es_similarity %}
                              {% if section.similars %}
                                <tr>
                                    <td><span>{{ section.section_number }}&nbsp;{{ section.section_header}}</span></td>
                                    <td>
                                       {% for similar in section.similars %}
                                          {{ similar.bill_number_version|billnumber_display }}{{ forloop.last|yesno:",&#44;"|safe }} 
                                       {% endfor %}
                                    </td>
                                </tr>
                              {% endif%}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <hr>
        <div class="sponsors tab mt-4" id='cosponsors-tab'>
            <h4>Sponsors of Related Measures</h4>
            <span class="small">
                Identify the sponsor and cosponsors of this bill and other identical or nearly identical bills. Also shown is any committee of jurisdiction to which a cosponsor may belong and their rank in that committee.
            </span>
            <ul class="nav nav-tabs mt-2" id="tablistCosponsors" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="this-congress-cosponsors-link" data-toggle="tab" href="#this-congress-cosponsors" role="tab" aria-controls="this-congress-cosponsors" aria-selected="true">Same Congress</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="all-congress-cosponsors-link" data-toggle="tab" href="#all-congress-cosponsors" role="tab" aria-controls="all-congress-cosponsors" aria-selected="false">All Congresses</a>
                </li>
            </ul>
            <div class="tab-content light-gray-tabs p-4" id="cosponsorsTabContent">
                <div class="tab-pane fade show active" id="this-congress-cosponsors" role="tabpanel" aria-labelledby="this-congress-cosponsors-tab">
                    <h6 class="pt-3">
                        View all current sponsors of {{ bill.type_abbrev }} {{ bill.number }} and identical bills in the same Congress
                    </h6>
                    <table class="table mt-3" id="this-congress-cosponsors-table">
                        <thead>
                            <tr>
                                <th scope="col">Co-sponsor</th>
                                <th scope="col">Bills</th>
                                <th scope="col">Current Assigned Committees</th>
                                <th scope="col">Party</th>
                                <th scope="col">Rank</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cosponsor in cosponsors_for_bills %}
                                {% check_billnumbers_congress cosponsor.bill_congress_type_numbers object.congress as cosponsor_checker %}
                                 {% if cosponsor_checker %}
                            <tr>
                                <td>{{ cosponsor.name_full_official }}</td>
                                <td>{{ cosponsor.bill_congress_type_numbers|billnumbers_by_congress:bill.congress|billnumbers_display|join:", "}}</td>
                                <td>
                                    {{ cosponsor.committees_named|join:", " }}
                                </td>
                                <td>{{ cosponsor.party|slice:":1"}}</td>
                                <td>
                                    {{cosponsor.ranks|join:", "}}
                                </td>
                            </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade show " id="all-congress-cosponsors" role="tabpanel" aria-labelledby="all-congress-cosponsors-tab">
                    <h6 class="pt-3">
                        View this current sponsors of {{ bill.type_abbrev }} {{ bill.number }} and identical bills in any recent Congress
                    </h6>
                    <table class="table mt-3" id="all-congress-cosponsors-table">
                        <thead>
                            <tr>
                                <th scope="col">Co-sponsor</th>
                                <th scope="col">Bills</th>
                                <th scope="col">Current Assigned Committees</th>
                                <th scope="col">Party</th>
                                <th scope="col">Rank</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cosponsor in cosponsors_for_bills %}
                            <tr>
                                <td>{{ cosponsor.name_full_official }}</td>
                                <td>{{ cosponsor.bill_congress_type_numbers|billnumbers_display|join:", "}}</td>
                                <td>
                                    {{ cosponsor.committees_named|join:", " }}
                                </td>
                                <td>{{ cosponsor.party|slice:":1"}}</td>
                                <td>
                                    {{cosponsor.ranks|join:", "}}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <hr>
        <div class="understanding-context mt-4 pb-2" id="app">
            <h4>Understand the Context</h4>
            <span class="small">Reports and other information for this bill</span>
            <ul class="nav nav-tabs mt-2" id="tablistReports" role="tablist">
                <li class="nav-item" role="presentation">
                <a class="nav-link active" id="crs-report-tab" data-toggle="tab" href="#crs-report" role="tab" aria-controls="house"
                    aria-selected="true">CRS Reports</a>
                </li>
                <li class="nav-item" role="presentation">
                <a class="nav-link" id="statement-admin-tab" data-toggle="tab" href="#statement-admin" role="tab" aria-controls="statement-admin"
                    aria-selected="false">Statements of Administration Policy</a>
                </li>
                <li class="nav-item" role="presentation">
                <a class="nav-link" id="press-statements-tab" data-toggle="tab" href="#press-statements" role="tab"
                    aria-controls="press-statements" aria-selected="false">Press statements</a>
                </li>
                <li class="nav-item" role="presentation">
                <a class="nav-link" id="cbo-score-tab" data-toggle="tab" href="#cbo-score" role="tab"
                    aria-controls="cbo-score" aria-selected="false">CBO Scores</a>
                </li>
                <li class="nav-item" role="presentation">
                <a class="nav-link" id="relevant-committee-tab" data-toggle="tab" href="#relevant-committee" role="tab"
                    aria-controls="relevant-committee" aria-selected="false">Relevant Committee Documents</a>
                </li>
            </ul>
            <div class="tab-content light-gray-tabs p-4" id="crsReportContent">
                <div class="tab-pane fade show active" id="crs-report" role="tabpanel" aria-labelledby="crs-report-tab">
                    <h6 class="pt-3">
                        View CRS reports for {{ bill.type_abbrev }} {{ bill.number }} in the {{ bill.congress|numstring_to_ordinal }} Congress
                    </h6>
        
                    <table class="table mt-3" id='crs-reports-table'>
                        <thead>
                            <tr>
                                <th scope="col">Title</th>
                                <th scope="col">Date</th>
                                <th scope="col">Link</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for crs_report in crs_reports %}
        
                            <tr>
                                <td style="width: 300px;">{{ crs_report.title|truncatechars:120 }}</td>
                                <td>{{ crs_report.date|date }}</td>
                                <td>
                                {% if crs_report.link %}
                                <a href='{{ crs_report.link }}' target="_blank" class='btn btn-primary'>
                                    Full Report
                                </a>
                                {% else %}
                                  [No link to report]
                                {% endif %}
                                </td>
                            </tr>
        
                            {% endfor %}
        
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="statement-admin" role="tabpanel" aria-labelledby="statement-admin-tab" style="min-height:20vh; max-height: 50vh; overflow: scroll;">
                    <h6 class="pt-3">
                        View all the Statements of Administration Policy for {{ bill.type_abbrev }} {{ bill.number }} in the {{ bill.congress|numstring_to_ordinal }} Congress
                    </h6>
        
                    <table class="table mt-3" id='statements-of-table'>
                        <thead>
                            <tr>
                                <th scope="col">Bill Number</th>
                                <th scope="col">Bill</th>
                                <th scope="col">Congress</th>
                                <th scope="col">Date Issued</th>
                                <th scope="col">Link</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for statement in statements %}
                            
                            <tr>
                                <td>{{ statement.bill_number }}</td>
                                <td style="width: 300px;">{{ statement.bill_title|truncatechars:120 }}</td>
                                <td>{{ statement.congress }}</td>
                                <td>{{ statement.date_issued }}</td>
                                <td><a href='{{ statement.permanent_pdf_link.url }}' target="_blank" class='btn btn-primary'>
                                    Full Report
                                </a></td>
                            </tr>
                            
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="press-statements" role="tabpanel" aria-labelledby="press-statements-tab">
                    <div class="">
                        <table class="table mt-3" id='press-statements-table' style="height: 50vh !important;">
                        
                            <thead>
                                <tr>
                                    <th scope="col">Title</th>
                                    <th>Issued By</th>
                                    <th>Chamber</th>
                                    <th>Party</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Link</th>
                                </tr>
                            </thead>
                            
                            <tbody>
                                
                                <tr v-for='(pressStatement, index) in pressStatements' :key="index">
                                    <td style="width: 550px;">$[ pressStatement.title ]</td>
                                    <td style="width: 200px;">$[ pressStatement.name ]</td>
                                    <td>$[ pressStatement.chamber ]</td>
                                    <td>$[ pressStatement.party ]</td>
                                    <td>$[ pressStatement.date|formatDate ]</td>
                                    <td><a v-bind:href="pressStatement.url" target="_blank" class='btn btn-primary'>
                                        View the press statement
                                    </a></td>
                                </tr>
                            </tbody>
                        </table>
                        <nav aria-label="..." class="d-flex justify-content-end dataTables_paginate">
                            <ul class="pagination">
                              <li @click="changePage(false)" class="page-item ">
                                <button class="page-link "><</button>
                              </li>
                              <li v-for="(page, index) in getPages" 
                              :key="index" 
                              @click="getPressStatements(page)"
                              v-bind:class="[(offset == page)? 'active page-item':'page-item']"><button class="page-link">$[ index+1 ]</button></li>
                              <li @click="changePage(true)" class="page-item">
                                <button class="page-link">></button>
                              </li>
                            </ul>
                          </nav>
                    </div>
                    
                    
                </div>
                <div class="tab-pane fade" id="cbo-score" role="tabpanel" aria-labelledby="cbo-score-tab">
                    <h6 class="pt-3">
                        View all the CBO Reports for {{ bill.type_abbrev }} {{ bill.number }} in the {{ bill.congress|numstring_to_ordinal }} Congress
                    </h6>
                    
                    <table class="table mt-3" id='cbo-scores-table'>
                        <thead>
                            <tr>
                                <th scope="col">Bill</th>
                                <th scope="col">Report</th>
                                <th scope="col">Publication Date</th>
                                <th scope="col">Link</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cboreport in cbo_reports %}
                            
                            <tr>
                                <td>{{ cboreport.bill_number }}</td>
                                <td style="width: 300px;">{{ cboreport.title|truncatechars:120 }}</td>
                                <td>{{ cboreport.pub_date|date:"M, D, Y" }}</td>
                                <td><a href='{{ cboreport.original_pdf_link }}' target="_blank" class='btn btn-primary'>
                                    Full Report
                                </a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="relevant-committee" role="tabpanel" aria-labelledby="relevant-committee-tab">
                    <h6 class="pt-3">
                        View committee documents that relate this legislation
                    </h6>
        
                    <table class="table mt-3" id='relevant-committee-documents-table'>
                        <thead>
                            <tr>
                                <th scope="col">Type</th>
                                <th scope="col">Committee</th>
                                <th scope="col">Chamber</th>
                                <th scope="col">Report Number</th>
                                <th scope="col">Date Issued</th>
                                <th scope="col">Link</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for committee in committees %}
        
                            <tr>
                                <td>{{ committee.report_type }}</td>
                                <td style="width: auto;">{{ committee.committee }}</td>
                                <td>{{ committee.chamber }}</td>
                                <td>{{ committee.report_number }}</td>
                                <td>{{ committee.date }}</td>
                                <td><a href='{{ committee.original_pdf_link }}' target="_blank" class='btn btn-primary'>
                                    Full Report
                                </a></td>
                            </tr>
        
                            {% endfor %}
                           {% if not committees %}
                            <tr>
                              <td valign="top" colspan="5" class="empty_table">
                                {{ no_data_message }} 
                              </td>
                            </tr>
                           {% endif %}
                        </tbody>
                    </table>
                </div>
                <!--div class="tab-pane fade" id="floor-proceedings" role="tabpanel" aria-labelledby="floor-proceedings-tab">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium magnam nisi reprehenderit animi iste rem ut corrupti, vel libero fuga dicta asperiores, consectetur error nam hic quasi vitae temporibus eaque?
                </div-->
            </div>
        </div>
        <hr>
        <div class="timeline my-4 pb-2">
            <h4>Timeline</h4>
            <span class="small">Here goes the body copy explaining what this is about</span>
            <div class="light-gray-body mt-2 p-4">
                <div class="d-flex flex-column">
                    <div class="timeline-detail d-flex flex-row">
                        <span class="timeline-date pr-3">
                            JUN 22, 2011
                        </span>
                        <div class="d-flex flex-column">
                            <div class="circle"></div>
                            <div class="dotted-line"></div>
                            <br>
                            <div class="down-arrow">
                                <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="d-flex flex-column pl-3">
                            <h6>
                                EARLIER VERSION 
                            </h6>
                            <span>
                                Ordered Reported 
                            </span>
                            <span>
                                This activity took place on a related bill, H.R. 4631 (115th).
                            </span>
                        </div>
                    </div>
                    <div class="timeline-detail d-flex flex-row">
                        <span class="timeline-date pr-3">
                            MAY 22, 2013
                        </span>
                        <div class="d-flex flex-column">
                            <div class="circle"></div>
                            <div class="dotted-line"></div>
                            <br>
                            <div class="down-arrow">
                                <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="d-flex flex-column pl-3">
                            <h6>
                                INTRODUCED
                            </h6>
                            <span>
                                Ordered Reported 
                            </span>
                            <span>
                                This activity took place on a related bill, H.R. 4631 (115th).
                            </span>
                        </div>
                    </div>
                    <div class="timeline-detail d-flex flex-row">
                        <span class="timeline-date pr-3">
                            JUL 14, 2016
                        </span>
                        <div class="d-flex flex-column">
                            <div class="circle"></div>
                            <div class="dotted-line"></div>
                            <br>
                            <div class="down-arrow">
                                <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="d-flex flex-column pl-3">
                        <h6>
                            PASSED HOUSE (SENATE NEXT)
                        </h6>
                        <span>
                            The bill was passed in a vote in the House. It goes to the Senate next. The vote was by voice vote so no record of individual votes was made.
                        </span>
                        <span>
                            This activity took place on a related bill, H.R. 4631 (115th).
                        </span>
                        </div>
                    </div>
                    <div class="timeline-detail d-flex flex-row">
                        <span class="timeline-date pr-3">
                            FEB 6, 2018
                        </span>
                        <div class="d-flex flex-column">
                            <div class="circle"></div>
                            <div class="dotted-line muted"></div>
                            <br>
                            <div class="down-arrow muted">
                                <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="d-flex flex-column pl-3">
                            <h6>
                                EARLIER VERSION
                            </h6>
                            <span>
                                Ordered Reported
                            </span>
                            <span>
                                This activity took place on a related bill, H.R. 4631 (115th).
                            </span>
                        </div>
                    </div>
                    <div class="timeline-detail d-flex flex-row">
                        <span class="timeline-spacer">
                        </span>
                        <div class="d-flex flex-column">
                            <div class="circle muted"></div>
                            <div class="dotted-line muted"></div>
                            <br>
                            <div class="down-arrow muted">
                                <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="d-flex flex-column pl-3">
                        <h6 class="pt-2">
                            Passed Senate
                        </h6>
                        </div>
                    </div>
                    <div class="timeline-detail d-flex flex-row">
                        <span class="timeline-spacer">
                        </span>
                        <div class="d-flex flex-column">
                            <div class="circle single"></div>
                        </div>
                        <div class="d-flex flex-column pl-3">
                            <h6 class="pt-2">
                                Passed By President
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/bill.js' %}"></script>
<script>
    // var table = new Tabulator("#committee-jurisdiction-table", {
    //     // rowFormatter:function(row){
    // });
</script>

<!-- vue.js files -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>



<script type="text/javascript">
  Vue.http.headers.common['x-api-key'] = "{{propublica_api_key}}";
  new Vue({
    el: '#app',
    components: {
    },
    delimiters: ['$[', ']'],
    data: {
      pressStatements: [],
      errors: [],
      offset: 0,
      numResults: 0,
      status: null,
      height:0,
      pages: [],

      showModal: false,
    },
    created: function () {
      this.getPressStatements(0)
    },
    computed: {
        getPages() {
            this.pages = []
            var current_offset = 0
            while (current_offset < this.numResults) {
                this.pages.push(current_offset)
                current_offset += 20
            }
            return this.pages;

        }
    },
    methods: {
      getPressStatements: async function (offset) {
          this.offset = offset;
        await this.$http.get(`https://api.propublica.org/congress/v1/{{bill.congress}}/bills/{{bill.type}}{{bill.number}}/statements.json?offset=${offset}`)
          .then((response) => {
            this.pressStatements = response.data.results;
            this.numResults = response.data.num_results;
            this.status = response.data.status;
          })
          .catch((err) => {
              console.warn(err)
          });
      },
      changePage(isIncrease) {
          if (isIncrease) {
              if (this.offset + 20 <= this.numResults) {
                  this.getPressStatements(this.offset+20)
              }
          } else {
              if (this.offset - 20 >= 0) {
                  this.getPressStatements(this.offset-20)
              }
          }
      }

    }
  });

  Vue.filter('formatDate', function(value) {
            if (value) {
                return moment(String(value)).format('MMM DD, YYYY');
            }
    }
    )
</script>

<script>
    function truncateString(str, num) {
        if (str.length <= num) {
          return str
        }
        return str.slice(0, num) + '...'
      }
    var timeOut
    $('.toolt').mouseover((event) => {
        timeOut = setTimeout((r) => {

            
            const relatedBill = $(event.currentTarget).find('#rel-bill').text()
            const congress = relatedBill.split('(').pop().substring(0,3)
            const billId = relatedBill.split('(')[0].replace(/[^a-z0-9]/gi,'').toLowerCase();
            if ($(event.currentTarget).find('#tool').text() === '...') {
                $.ajax({
                    type: "GET",
                    url: "/home/bill-title/"+congress+billId,
                    method: "GET",
                    contentType: "application/json",
                    success: function (response) {
                        if(response.short_title) {
                            $(event.currentTarget).find('#tool').text(truncateString(response.short_title, 60)).css('display', 'inline-block')
                        } else {
                            $(event.currentTarget).find('#tool').text(truncateString(response.first_title, 60)).css('display', 'inline-block')
                        }
                    },
                }); 
            }
            
            //console.log(relatedBill)
        }, 0)
    })

    $('.related-bill').mouseleave((event) => {

        clearTimeout(timeOut)
        $(event.currentTarget).find('#tool').css('display', 'none')
    })
</script>
<style>
    div.dt-buttons {
        float: none;
    }
    .related-bills .buttons-html5{
        background-color: red !important;
    }
    .unique-dt {
        background-color: red;

    }
</style>

{% endblock %}
