{% extends 'base.html' %}
{% load bill_filters %}
{% load static %}
{% load bill_tags %}

{% block extra_css %}
<link href="https://unpkg.com/tabulator-tables@4.8.0/dist/css/bootstrap/tabulator_bootstrap4.min.css" rel="stylesheet">
<style>
    html { scroll-behavior: smooth; } 
</style>
<!-- <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.8.0/dist/js/tabulator.min.js"></script> -->
{% endblock %}

{% block content %}

<div class="title">
    <hr />
    <span>Home > Bills > {{ bill.type }} {{ bill.number }} ({{ bill.congress }}th)</span>
    <h1>
        {{ bill.get_type_abbrev }} {{ bill.number }}: {{ bill.short_title }}
    </h1>
    <span class="small">{{ bill.congress }}th Congress (2019-2020)</span>
    <hr />
</div>
<div class="">
    <div class="row">
        <div class="col-md-6">
            <div class="bill light-gray-body p-4 h-100">
                <h4 class="pb-2 text-center"><b>Overview</b></h4>
                <h5><b>Bill Summary:</b></h5>
                {% if bill.summary_short %}
                <div class="pre-wrapper"><pre>{{bill.summary_short}}</pre><div>
                    
                {% else %}
                <div class="pre-wrapper"><pre>{{ bill.summary |truncatewords_html:100 }}</pre></div>
                {% endif %}
                
                <h5><b>Bill Stage:</b></h5>
                <p>Bill Stage will appear here</p>
        
                {% if bill.get_related_bill_numbers %}
                    <h5><b>Related Bills:</b></h5>
                    {{bill.get_related_bill_numbers|billnumbers_display|join:", "}}
                {% endif %}
        
                <h5><b>Recent Actions (in focus):</b></h5>
                <p>NA</p>
                <h5><b>Prognosis:</b></h5>
                <p>Prognosis will appear here</p>
                <div class="text-center"><button type="button" class="btn btn-primary btn-shadow text-center px-5 rounded-5" style="border: none; background-color:#781A36!important; border-radius: 10px;">Read Bill</button></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="committee-jurisdiction light-gray-body p-4 h-100">
                <h4 class="text-center"><b>Committees and Sponsors</b></h4>
                <br>
                <div class="d-flex justify-content-between">
                    <h5 style="float: left;"><b>Committees of Jurisdiction:</b></h5>
                    <a href="#" class="link-secondary">House Administration</a>
                    <a href="#" class="link-secondary">House Oversight</a>
                </div>

                <div class="mt-5">
                    <table class="table mt-3">
                        <thead>
                            <tr>
                                <th scope="col">Sponsor</th>
                                <th scope="col">On Assigned Committee(s)</th>
                                <th scope="col">Party</th>
                                <th scope="col">Party</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Raúl Grijalva</td>
                                <td>No</td>
                                <td>D</td>
                                <td>No</td>
                            </tr>
                            <tr>
                                <td>Rodney Davis</td>
                                <td>House Administration</td>
                                <td>R</td>
                                <td>Ranking Member</td>
                            </tr>
                            <tr>
                                <td>Jim Cooper</td>
                                <td>House Oversight</td>
                                <td>D</td>
                                <td>No</td>
                            </tr>
                            <tr>
                                <td>Virginia Foxx</td>
                                <td>House Oversight</td>
                                <td>R</td>
                                <td>No</td>
                            </tr>
                            <tr>
                                <td>Virginia Foxx</td>
                                <td>House Oversight</td>
                                <td>R</td>
                                <td>No</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center mt-5">
                    <a 
                    href="#list-of-sponsors"
                    class="btn btn-primary btn-lg btn-shadow text-center mt-3 rounded-5 px-3" 
                    style="border: none; border-radius: 10px; background-color: #1D4E70">
                        View full list of sponsors
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="d-flex flex-wrap mt-3">
    <div class=" w-100 light-gray-body p-4 mb-2">
    <div class="row">
        <div class="col-md-8" style="background-color: white; border-radius: 10px;">
            <h4><b>Support Bill Track</b></h4>
            <p>Bill Track is a free and open, hosted by the Wikimedia Foundation. The heart and soul of
                Wikipedia is our global community of over  200.000+ volunteer contributors. 
                Bill Track is a free and open, hosted by the Wikimedia Foundation. The heart and soul of
                Wikipedia is our global community of over  200.000+ volunteer contributors.
            </p>
            <div class="text-center">
                <button 
                type="button" 
                class="btn btn-primary btn-lg btn-shadow text-center mt-3 rounded-5" 
                style="border: none; border-radius: 10px; padding-left:55px; padding-right:55px; background-color: #1D4E70">
                    Donate Now
                </button>
            </div>
        </div>

        <div class="col-md-4">
            <img src="" alt="Advertising" style="min-height: 250px;">
        </div>
    </div>
    </div>

</div>
<hr>
<div class="related-bills mt-4">
    <h4>Bills Related to {{ bill.get_type_abbrev }} {{ bill.number }}</h4>
    <span class="small">
        Discover related bills to {{ bill.get_type_abbrev }} {{ bill.number }}: Access to Congressionally Mandated Reports Act. A related bill may be a companion measure, an identical bill, a procedurally-related measure, or one with text similarities.
    </span>
    <ul class="nav nav-tabs mt-2" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
        <a class="nav-link active" id="current-congress-tab" data-toggle="tab" href="#current-congress" role="tab"
            aria-controls="current" aria-selected="true">Current Congress</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link " id="all-congress-tab" data-toggle="tab" href="#all-congress" role="tab"
                aria-controls="all" aria-selected="false">All Congresses</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link " id="similar-sections-tab" data-toggle="tab" href="#similar-sections" role="tab"
                aria-controls="similar" aria-selected="false">Similar Sections</a>
        </li>
    </ul>
    <div class="tab-content light-gray-tabs p-4" id="relatedBillsTableContent">

        <div class="tab-pane fade show active" id="current-congress" role="tabpanel" aria-labelledby="current-congress-tab">
            <h6 class="pt-3">
                Filtered by the Current Congress
            </h6>
            <table class="table mt-3" id="current-similar-bills-table">
                <thead>
                    <tr>
                        <th scope="col">Bill</th>
                        <th scope="col">Detail</th>
                        <th scope="col">Reason</th>
                        <th scope="col">Titles</th>
                        <th scope="col">Score</th>
                        <th scope="col">Sections matched</th>
                        <!--th scope="col">Best match score</th-->
                        <th scope="col">Best match section</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bill in similar_bills %}
                        {% check_bill bill.bill_congress_type_number object.congress as checker %}
                        {% if checker %}
                        <tr>
                            <td>
                                {% if bill.in_db %}
                                    <a href="{% url 'bill-detail' slug=bill.bill_congress_type_number  %}">
                                {{ bill.bill_congress_type_number |billnumber_display }}
                                    </a>
                                {% else %}
                                    {{ bill.bill_congress_type_number }}
                                {% endif %}
                            </td>
                            <td>
                                {% if bill.in_db %}
                                    <a href="{% url 'bill-to-bill' slug=object.bill_congress_type_number second_bill=bill.bill_congress_type_number %}">
                                        <img src="{% static 'images/share-files.png' %}" alt="">
                                    </a>
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>
                            <td>{{ bill.reason }}</td>
                            {% if bill.max_item %}
                                <td><span title="{{ bill.max_item.title }}">{{ bill.max_item.title|truncatechars:40 }}</span></td>
                            {% else %}
                                <td><span title="{{ bill.title }}">{{ bill.title|truncatechars:40 }}</span></td>
                            {% endif %}
                            <td>{% if bill.score %}{{ bill.score|floatformat:2 }}{% endif %}</td>
                            <td>{{ bill.number_of_sections }}</td>
                            <!--td>{{ bill.info.score|floatformat:2 }}</td-->
                            <td>{% if bill.max_item.section_num %}<span>{{ bill.max_item.section_num }}</span> {% endif %}<span title="{{ bill.max_item.section_header }}">{{ bill.max_item.section_header|truncatechars:40 }}</span></td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade " id="all-congress" role="tabpanel" aria-labelledby="all-congress-tab">
            <h6 class="pt-3">
                View all {{ bill.get_type_abbrev }} {{ bill.number }}
            </h6>
            <div style="border-radius: 10px;">
        </div>
<hr>
            <table class="table mt-3" id="similar-bills-table">
                <thead>
                    <tr>
                        <th scope="col">Bill</th>
                        <th scope="col">Detail</th>
                        <th scope="col">Reason</th>
                        <th scope="col">Titles</th>
                        <th scope="col">Score</th>
                        <th scope="col">Sections matched</th>
                        <!--th scope="col">Best match score</th-->
                        <th scope="col">Best match section</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bill in similar_bills %}
                    <tr>
                        <td>
                            {% if bill.in_db %}
                                <a href="{% url 'bill-detail' slug=bill.bill_congress_type_number  %}">
                                    {{ bill.bill_congress_type_number|billnumber_display }}
                                </a>
                            {% else %}
                                {{ bill.bill_congress_type_number|billnumber_display }}
                            {% endif %}
                        </td>
                        <td>
                            {% if bill.in_db %}
                                <a href="{% url 'bill-to-bill' slug=object.bill_congress_type_number second_bill=bill.bill_congress_type_number %}">
                                    <img src="{% static 'images/share-files.png' %}" alt="">
                                </a>
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td>{{ bill.reason }}</td>
                        {% if bill.max_item %}
                            <td><span title="{{ bill.max_item.title }}">{{ bill.max_item.title|truncatechars:40 }}</span></td>
                        {% else %}
                            <td><span title="{{ bill.title }}">{{ bill.title|truncatechars:40 }}</span></td>
                        {% endif %}
                        <td>{% if bill.score %}{{ bill.score|floatformat:2 }}{% endif %}</td>
                        <td>{{ bill.number_of_sections }}</td>
                        <!--td>{{ bill.info.score|floatformat:2 }}</td-->
                        <td>{% if bill.max_item.section_num %}<span>{{ bill.max_item.section_num }}</span> {% endif %}<span title="{{ bill.max_item.section_header }}">{{ bill.max_item.section_header|truncatechars:40 }}</span></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>            
        </div>
        <div class="tab-pane fade " id="similar-sections" role="tabpanel" aria-labelledby="similar-sections-tab">
            <h6 class="pt-3">
                View all {{ bill.get_type_abbrev }} {{ bill.number }}
            </h6>
            <table class="table mt-3" id="similar-sections-table">
                <thead>
                    <tr>
                        <th scope="col">Section</th>
                        <th scope="col">Similar Bills</th>
                    </tr>
                </thead>
                <tbody>
                    {% for section in es_similarity %}
                      {% if section.similars %}
                        <tr>
                            <td><span>{{ section.section_number }}&nbsp;{{ section.section_header}}</span></td>
                            <td>
                               {% for similar in section.similars %}
                                  {{ similar.bill_number_version }}{{ forloop.last|yesno:",&#44;"|safe }} 
                               {% endfor %}
                            </td>
                        </tr>
                      {% endif%}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<hr>
    <h4>Analyze Similar Bills</h4>
    <span class="small">
        Discover similar bills to {{ bill.get_type_abbrev }} {{ bill.number }}
    </span>
    <ul class="nav nav-tabs mt-2" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
        <a class="nav-link active" id="current-tab" data-toggle="tab" href="#similar-bills" role="tab"
            aria-controls="similar-bills" aria-selected="true">All</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="sections-tab" data-toggle="tab" href="#similar-sections" role="tab" aria-controls="similar-sections"
            aria-selected="false">Sections</a>
        </li>
    </ul>
    <div class="tab-content light-gray-tabs p-4" id="similarBillsTableContent">
        <p><span><strong>Number of sections: {{ es_similarity|length }}</strong></span></p>
        <div class="tab-pane fade show active" id="similar-bills" role="tabpanel" aria-labelledby="similar-bills">
        </div>
        <div class="tab-pane fade" id="similar-sections" role="tabpanel" aria-labelledby="similar-sections-tab">
        </div>
    </div>
</div> -->
<div class="sponsors tab mt-4" id='list-of-sponsors'>
    <h4>Sponsors of Related Measures</h4>
    <span class="small">
        Identify the sponsor and cosponsors of this bill and which related bills they cosponsored. Also shown are the committees to which each cosponsor belongs and their rank in that committee.
    </span>
    <ul class="nav nav-tabs mt-2" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="house-tab" data-toggle="tab" href="#house" role="tab" aria-controls="house" aria-selected="true">This Bill ({{ bill.get_type_abbrev }} {{ bill.number }})</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="senate-tab" data-toggle="tab" href="#senate" role="tab" aria-controls="senate" aria-selected="false">This Congress</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="all-congress-tab" data-toggle="tab" href="#all-congress" role="tab" aria-controls="all-congress" aria-selected="false">All Congress</a>
        </li>
        <div class="spacer"></div>
        <span class="pt-2 mr-2">Sort By:</span>
        <div class="dropdown">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sponsors
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </ul>
    <div class="tab-content light-gray-tabs p-4" id="cosponsorsTabContent">
        <div class="tab-pane fade show active" id="house" role="tabpanel" aria-labelledby="house-tab">
            <h6 class="pt-3">
                View all current sponsors of {{ bill.get_type_abbrev }} {{ bill.number }} in the {{ bill.congress }}th Congress
            </h6>
            <table class="table mt-3" id="cosponsors-table">
                <thead>
                    <tr>
                        <th scope="col">Co-Sponsor</th>
                        <th scope="col">Bill</th>
                        <th scope="col">Committees</th>
                        <th scope="col">Party</th>
                        <th scope="col">Position</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cosponsor in cosponsors %}
                    <tr>
                        <td>{{ cosponsor.name }}</td>
                        <td>{{ cosponsor.bills|billnumbers_display|join:", "}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="senate" role="tabpanel" aria-labelledby="senate-tab">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium magnam nisi reprehenderit animi iste rem ut corrupti, vel libero fuga dicta asperiores, consectetur error nam hic quasi vitae temporibus eaque?
        </div>
        <div class="tab-pane fade" id="all-congress" role="tabpanel" aria-labelledby="all-congress-tab">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium magnam nisi reprehenderit animi iste rem ut corrupti, vel libero fuga dicta asperiores, consectetur error nam hic quasi vitae temporibus eaque?
        </div>
    </div>
</div>
<hr>
<div class="understanding-context mt-4 pb-2">
    <h4>Understand the Context</h4>
    <span class="small">Reports and other information for this bill</span>
    <ul class="nav nav-tabs mt-2" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
        <a class="nav-link active" id="crs-report-tab" data-toggle="tab" href="#crs-report" role="tab" aria-controls="house"
            aria-selected="true">CRS Report</a>
        </li>
        <li class="nav-item" role="presentation">
        <a class="nav-link" id="statement-admin-tab" data-toggle="tab" href="#statement-admin" role="tab" aria-controls="statement-admin"
            aria-selected="false">Statement of Administration</a>
        </li>
        <li class="nav-item" role="presentation">
        <a class="nav-link" id="press-statements-tab" data-toggle="tab" href="#press-statements" role="tab"
            aria-controls="press-statements" aria-selected="false">Press Statements</a>
        </li>
        <li class="nav-item" role="presentation">
        <a class="nav-link" id="cbo-score-tab" data-toggle="tab" href="#cbo-score" role="tab"
            aria-controls="cbo-score" aria-selected="false">CBO Score</a>
        </li>
        <li class="nav-item" role="presentation">
        <a class="nav-link" id="relevant-committee-tab" data-toggle="tab" href="#relevant-committee" role="tab"
            aria-controls="relevant-committee" aria-selected="false">Relevant Committee Documents</a>
        </li>
        <li class="nav-item" role="presentation">
        <a class="nav-link" id="floor-proceedings-tab" data-toggle="tab" href="#floor-proceedings" role="tab"
            aria-controls="floor-proceedings" aria-selected="false">Floor Proceedings</a>
        </li>
        <div class="dropdown">
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
        </div>
    </ul>
    <div class="tab-content light-gray-tabs p-4" id="crsReportContent">
        <div class="tab-pane fade show active" id="crs-report" role="tabpanel" aria-labelledby="crs-report-tab">
            <h6 class="pt-3">
                View CRS reports for {{ bill.get_type_abbrev }} {{ bill.number }} in the {{ bill.congress }}th Congress
            </h6>

            <table class="table mt-3" id='statements-tables'>
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Date</th>
                        <th scope="col">Link</th>
                    </tr>
                </thead>
                <tbody>
                    {% for crs_report in crs_reports %}

                    <tr>
                        <td style="width: 300px;">{{ crs_report.title|truncatechars:120 }}</td>
                        <td>{{ crs_report.date }}</td>
                        <td>
                        {% if crs_report.link %}
                        <a href='{{ crs_report.link }}' target="_blank" class='btn btn-primary'>
                            Full Report
                        </a>
                        {% else %}
                          [No link to report]
                        {% endif %}
                        </td>
                    </tr>

                    {% endfor %}
                    <tr>
                        <td>

                            {% if not crs_reports %}
                                No data available in table.
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="statement-admin" role="tabpanel" aria-labelledby="statement-admin-tab" style="min-height:20vh; max-height: 50vh; overflow: scroll;">
            <h6 class="pt-3">
                View all the Statements of Administration Policy for {{ bill.get_type_abbrev }} {{ bill.number }} in the {{ bill.congress }}th Congress
            </h6>

            <table class="table mt-3" id='statements-tables'>
                <thead>
                    <tr>
                        <th scope="col">Bill Number</th>
                        <th scope="col">Bill Id</th>
                        <th scope="col">Bill</th>
                        <th scope="col">Congress</th>
                        <th scope="col">Date Issued</th>
                        <th scope="col">Link</th>
                    </tr>
                </thead>
                <tbody>
                    {% for statement in statements %}

                    <tr>
                        <td>{{ statement.bill_number }}</td>
                        <td>{{ statement.bill_id }}</td>
                        <td style="width: 300px;">{{ statement.bill_title|truncatechars:120 }}</td>
                        <td>{{ statement.congress }}</td>
                        <td>{{ statement.date_issued }}</td>
                        <td><a href='{{ statement.permanent_pdf_link.url }}' target="_blank" class='btn btn-primary'>
                            Full Report
                        </a></td>
                    </tr>

                    {% endfor %}
                    <tr>
                        <td>

                            {% if not statements %}
                                No data available in table.
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
    </div>
        <div class="tab-pane fade" id="press-statements" role="tabpanel" aria-labelledby="press-statements-tab">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium magnam nisi reprehenderit animi iste rem ut corrupti, vel libero fuga dicta asperiores, consectetur error nam hic quasi vitae temporibus eaque?
        </div>
        <div class="tab-pane fade" id="cbo-score" role="tabpanel" aria-labelledby="cbo-score-tab">
            <h6 class="pt-3">
                View all the CBO Reports for {{ bill.get_type_abbrev }} {{ bill.number }} in the {{ bill.congress }}th Congress
            </h6>

            <table class="table mt-3" id='cbo-tables'>
                <thead>
                    <tr>
                        <th scope="col">Bill</th>
                        <th scope="col">Report</th>
                        <th scope="col">Publication Date</th>
                        <th scope="col">Link</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cboreport in cbo_reports %}

                    <tr>
                        <td>{{ cboreport.bill_id }}</td>
                        <td style="width: 300px;">{{ cboreport.title|truncatechars:120 }}</td>
                        <td>{{ cboreport.pub_date }}</td>
                        <td><a href='{{ cboreport.original_pdf_link }}' target="_blank" class='btn btn-primary'>
                            Full Report
                        </a></td>
                    </tr>
                    {% endfor %}
                    {% if not cbo_reports %}
                    <tr>
                        <td>

                                No data available in table.
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="relevant-committee" role="tabpanel" aria-labelledby="relevant-committee-tab">
            <h6 class="pt-3">
                View all the Committee Documents {{ bill.type_abbrev }} {{ bill.meta.number }} in the {{ bill.meta.congres }}th Congress
            </h6>

            <table class="table mt-3" id='statements-tables'>
                <thead>
                    <tr>
                        <th scope="col">Type</th>
                        <th scope="col">Committee</th>
                        <th scope="col">Category</th>
                        <th scope="col">Chamber</th>
                        <th scope="col">Report Number</th>
                        <th scope="col">Date Issued</th>
                        <th scope="col">Link</th>
                    </tr>
                </thead>
                <tbody>
                    {% for committee in committees %}

                    <tr>
                        <td>{{ committee.report_type }}</td>
                        <td style="width: auto;">{{ committee.committee }}</td>
                        <td>{{ committee.category }}</td>
                        <td>{{ committee.chamber }}</td>
                        <td>{{ committee.report_number }}</td>
                        <td>{{ committee.date }}</td>
                        <td><a href='{{ committee.original_pdf_link }}' target="_blank" class='btn btn-primary'>
                            Full Report
                        </a></td>
                    </tr>

                    {% endfor %}
                    <tr>
                        <td>

                            {% if not statements %}
                                No data available in table.
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="floor-proceedings" role="tabpanel" aria-labelledby="floor-proceedings-tab">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium magnam nisi reprehenderit animi iste rem ut corrupti, vel libero fuga dicta asperiores, consectetur error nam hic quasi vitae temporibus eaque?
        </div>
    </div>
</div>
<hr>
<div class="timeline my-4 pb-2">
    <h4>Timeline</h4>
    <span class="small">Here goes the body copy explaining what this is about</span>
    <div class="light-gray-body mt-2 p-4">
        <div class="d-flex flex-column">
            <div class="timeline-detail d-flex flex-row">
                <span class="timeline-date pr-3">
                    JUN 22, 2011
                </span>
                <div class="d-flex flex-column">
                    <div class="circle"></div>
                    <div class="dotted-line"></div>
                    <br>
                    <div class="down-arrow">
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="d-flex flex-column pl-3">
                    <h6>
                        EARLIER VERSION 
                    </h6>
                    <span>
                        Ordered Reported 
                    </span>
                    <span>
                        This activity took place on a related bill, H.R. 4631 (115th).
                    </span>
                </div>
            </div>
            <div class="timeline-detail d-flex flex-row">
                <span class="timeline-date pr-3">
                    MAY 22, 2013
                </span>
                <div class="d-flex flex-column">
                    <div class="circle"></div>
                    <div class="dotted-line"></div>
                    <br>
                    <div class="down-arrow">
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="d-flex flex-column pl-3">
                    <h6>
                        INTRODUCED
                    </h6>
                    <span>
                        Ordered Reported 
                    </span>
                    <span>
                        This activity took place on a related bill, H.R. 4631 (115th).
                    </span>
                </div>
            </div>
            <div class="timeline-detail d-flex flex-row">
                <span class="timeline-date pr-3">
                    JUL 14, 2016
                </span>
                <div class="d-flex flex-column">
                    <div class="circle"></div>
                    <div class="dotted-line"></div>
                    <br>
                    <div class="down-arrow">
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="d-flex flex-column pl-3">
                <h6>
                    PASSED HOUSE (SENATE NEXT)
                </h6>
                <span>
                    The bill was passed in a vote in the House. It goes to the Senate next. The vote was by voice vote so no record of individual votes was made.
                </span>
                <span>
                    This activity took place on a related bill, H.R. 4631 (115th).
                </span>
                </div>
            </div>
            <div class="timeline-detail d-flex flex-row">
                <span class="timeline-date pr-3">
                    FEB 6, 2018
                </span>
                <div class="d-flex flex-column">
                    <div class="circle"></div>
                    <div class="dotted-line muted"></div>
                    <br>
                    <div class="down-arrow muted">
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="d-flex flex-column pl-3">
                    <h6>
                        EARLIER VERSION
                    </h6>
                    <span>
                        Ordered Reported
                    </span>
                    <span>
                        This activity took place on a related bill, H.R. 4631 (115th).
                    </span>
                </div>
            </div>
            <div class="timeline-detail d-flex flex-row">
                <span class="timeline-spacer">
                </span>
                <div class="d-flex flex-column">
                    <div class="circle muted"></div>
                    <div class="dotted-line muted"></div>
                    <br>
                    <div class="down-arrow muted">
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="d-flex flex-column pl-3">
                <h6 class="pt-2">
                    Passed Senate
                </h6>
                </div>
            </div>
            <div class="timeline-detail d-flex flex-row">
                <span class="timeline-spacer">
                </span>
                <div class="d-flex flex-column">
                    <div class="circle single"></div>
                </div>
                <div class="d-flex flex-column pl-3">
                    <h6 class="pt-2">
                        Passed By President
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/bill.js' %}"></script>
<script>
    // var table = new Tabulator("#committee-jurisdiction-table", {
    //     // rowFormatter:function(row){
    // });
</script>
{% endblock %}
