{% load static %}
{% load rest_framework %}
{% load render_attrs %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home"><img src="{% static '/images/billmap_logo.png' %}" style="height: 50px;" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}" title="home" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'bill-list' or request.resolver_match.url_name == 'bill-detail' or request.resolver_match.url_name  == 'bill-to-bill'  %}active{% endif %}" title="bills" href="/bills">Bills</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" title="documentation" href="/static/docs/index.html">Documentation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" title="about us" href="#">About us</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            {% app_version as app_version %}
            <span class="mr-4 text-danger">
                {{ app_version }}
            </span>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                Login
            </button>
        </form>
    </div>
</nav>